@media screen and (max-width: 390px){
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    .ancho{
        max-width: 350px;
        margin: auto;
    }
    .cabecita {
        display: none;
    }
    .contenedor_movil {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        text-align: center;
        padding: 5px 0px 5px 0px;
    }
    .contenedor_movil figure {
        max-width: 180px;
    }
    .contenedor_movil img {
        width: 100%;
    }
    /* INICIO DEL MENU RESPONSIVO */
    nav {
        position: relative;
    }
    nav ul.abrirmenu{
        left: 0px;
    }
    .contenido_menu {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        list-style: none;
        background-color: rgba(97, 60, 109, 0.8);
        position: absolute;
        top: 100%;
        left: -100%;
        width: 70%;
        z-index: 45;
        transition: all 0.5s;
        overflow: hidden;
    }
    .contenido_menu li {
        width: 100%;
    }
    .contenido_menu a {
        text-decoration: none;
        color: white;
        display: block;
        padding: 9px;
        border-bottom: 1px white dotted;
        cursor: pointer;
    }
    /* FIN DEL MENU RESPONSIVO */
    .contenedor_articulo {
        display: flex;
        flex-flow: column-reverse wrap;
        justify-content: space-between;
    }
    .contenedor_img_info  figure{
        max-width: 400px;
        padding-top: 20px;
    }
    .contenedor_articulos {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        background-color: #e3f5f9;
        padding: 40px 0px 40px 0px;
    }
    .articulo {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: center;
        padding: 1px;
        gap: 10px;
    }
    .articulo i {
        padding: 5px;
        color: #613c6d;
        background-color: #e3f5f9;
    }
    .info_articulo h2 {
        color: #313131;
        font-size: x-large;
        font-weight: lighter;
        padding: 15px 0px 12px 0px;
    }
    .biografia {
    background-image: url(../img/imagen2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 765px;
    }
    .contenedor_biografia {
        display: flex;
        align-items: flex-start;
        align-content: center;
    }
    .contenedor_biografia figure {
        display: none;
    }
    .biografia_info {
        display: flex;
        background-color: rgba(0, 0, 0, 0.5);
        flex-flow: column wrap;
        justify-content: center;
        padding: 50px 50px 0px 50px;
    }
    .biografia_info h2 {
        color: white;
        font-size: xx-large;
        font-weight: bolder;
        margin-bottom: 35px;
        font-family: Arial;
    }
    .biografia_info p{
        color: #bab2d0;
        line-height: 30px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    .biografia_info h3 {
        font-style: italic;
        font-size: xx-large;
        color: #ff7fdb;
        font-weight: lighter;
        margin-bottom: 10px;
        margin-left: 30px;
    }
    .biografia_info h4 {
        font-weight: lighter;
        font-size: x-large;
        font-style: italic;
        color: white;
        line-height: 35px;
        margin-bottom: 25px;
    }
    .titulos {
        padding: 10px 15px;
        text-align: center;
        font-size: large;
        font-weight: lighter;
    }
    .contenedor_articulos2 {
        background-color: #fdf5fc;
        padding: 10px 0px 0px 0px;
    }
    .contenedor_articulos_section2 {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .articulo2 {
        display: flex;
        flex-flow: column wrap;justify-content: center;
        align-items: center;
        align-content: center;
        max-width: 380px;
    }
    .icono {
        padding: 20px 25px;
        border-radius: 50%;
        color: #984c8a;
        background-color: #fbe7f8;
        transition: all 0.7s;
    }
    /* contenido_acordeon */
    .acordeon {
        width: 100%;
        margin: auto;
    }
    .acordeon_titulo {
        padding: 10px;
        font-size: 14px;
        font-weight: lighter;
        height: 68px;
        margin: 0;
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        align-items:center;
        align-content: center;
    }
    .acordeon_titulo h2 {
        font-size: x-large;
        font-weight: lighter;
    }
    .acordeon_contenido {
        display: none;
        margin-left: 38px;
        background: rgba(255, 255, 255, 0.5);
        padding: 1em 1em 1.5em;
    }
    .iconos {
        position: relative;
        padding: 0px 10px 0px 10px;
        width: 25px;
        height: 25px;
        margin-right: 21px;
    }
    .iconos i{
        padding: 5px;
        background:#503a87;
        color: white;
        border-radius: 5px;
    }
    #mas1, #mas2, #mas3, #mas4{
        position: absolute;
        z-index: 400;
        top: 0;
        right: 0;
        transition: all .3s;
    }
    .menos1, .menos2, .menos3, .menos4{
        position: absolute;
        z-index: 300;
        top: 0;
        right: 0;
    }
    .desaparecer{
        opacity: 0;
    }
    .articulo_acordeon {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: center;
    }
    .contenedor_imagen figure {
        max-width: 400px;
    }
    .contenedor_imagen img {
        width: 100%;
    }
    .contenedor_acordeon {
        max-width: 390px;
    }
    .contenedor_acordeon h3 {
        padding: 50px 30px 20px 10px;
        margin-left: 5px;
        font-weight: bold;
        font-size: x-large;
    }
    /* fin del acordeon */
    .consulta {
        background-color: #e3f5f9;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        text-align: center;
    }
    .consulta h3 {
        color: #613c6d;
        font-weight: lighter;
        font-size: large;
        font-family:'Times New Roman';
        padding: 30px 0px 15px 0px;
    }
    .consulta h2 {
        font-weight: lighter;
        font-size: x-large;
        padding: 5px 0px 10px 0px;
    }
    .consulta p {
        color: #8d8a8d;
        padding: 10px 0px 25px 0px;
    }
    .consulta a {
        background-color: #d1bfec;
        text-decoration: none;
        padding: 15px 30px;
    }
    .our_blog {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        gap: 15px;
    }
    .our_blog_arti {
        max-width: 390px;
    }
    .our_blog_arti h3 {
        color: #613c6d;
        padding: 10px 0px 10px 0px;
        font-weight: lighter;
        font-size: x-large;
    }
    .our_blog_arti p {
        color: #7a8183;
        font-size: medium;
        padding: 1px 0px 5px 0px;
    }
    .our_blog_arti img {
        width: 100%;
    }
    .subtitulos {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        padding: 10px 20px 10px 0px;
        font-size: medium;
    }
    .contenedor_info_fo {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 40px 0px 40px 0px;
        background-color: #fbe7f8;
    }
    .contenedor_info_fo article {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        max-width: 300px;
        margin-left: 1px;
        padding: 30px 0px 30px 0px;
    }
    .contenedor_info_fo article i {
        color: #503a87;
        margin: 15px 0px 15px 0px;
    }
    .contenedor_fin {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: flex-start;
        padding: 15px;
    }
    .contenedor_fin article {
        max-width: 400px;
        padding: 10px;
    }
    .contenedor_fin article h2 {
        padding-bottom: 25px;
        font-weight: lighter;
    }
    .contenedor_fin img {
        width: 100%;
    }
    .fin {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        line-height: 30px;
    }
    /* INICIO DE ABOUT */
    .cabecera_about {
        background-image: url(../img/About1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 350px;
        position: relative;
        background-position: -550px 35px;
        object-fit: cover;
    }
    .contenedor_niveles {
        display: flex;
        flex-flow: column wrap;
    }
    .contenedor_contenido_about {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: flex-start;
    }
    .contenido_info_about {
        max-width: 400px;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 10px;
    }
    .contenedor_contenido_about figure {
        max-width: 385px;
    }
    /* INICIO DEL PARALLAX */
    .parallax {
        background-image: url(../img/parallax.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
        background-position: -700px -200px;
        background-attachment: fixed;
        object-fit: cover;
        position: relative;
    }
    .contenedor_consultame {
        position: absolute;
        top: 20%;
        left: 5%;
        padding: 10px 10px 20px 10px;
        box-shadow: 0 0 10px #0006;
        background-color: #503a87;
        border-radius: 8px;
        max-width: 250px;
        color: white;
    }
    .contenedor_consultame a {
        text-decoration: none;
        padding: 10px 20px;
        background-color: #d1bfec;
        color: black;
        border-radius: 10px;
    } 
    /* contenido services */
    .articulo_services {
        display: flex;
        flex-flow: column-reverse wrap;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .contenedor_precios {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        align-content: flex-start;
        padding: 10px;
        gap: 30px;
    }
    .contenido_consulta_service {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        color: white;
        gap: 25px;
    }
    .flechas {
        width: 200px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        top: 85%;
        left: 25%;
    }
    .contenedor_contacto {
        display: grid;
        grid-template-columns: 1fr;
    }
    /* contenido_modal */
    .fondomodal {
        display: none;
        padding: 100px 10px;
        position: fixed;
        z-index: 100;
        left: 0px;
        top: 0;
        width: 100%;
        height: 100%;
        transition: all 0.5s;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .foto {
        margin: auto;
        max-width: 400px;
        height: 250px;
        border-radius: 20px;
        overflow: hidden;
        margin-top: 20px;
    }
    .contenidomodal a {
        text-decoration: none;
        padding: 10px 20px;
        background-color: #613c6d;
        color: white;
        position: absolute;
        top: 100%;
        left: 25%;
    }
}