*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #333;
}
.ancho{
    max-width: 1200px;
    margin: auto;
}
#subir {
    font-size: 35px;
    position: fixed;
    z-index: 30;
    bottom: 15px;
    right: 15px;
    background-color: #613c6d;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
}
/* header */
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: white;
}
header figure {
    max-width: 250px;
}
header img {
    width: 100%;
}
.info {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 15px;
    padding: 10px;
    margin-top: 10px;
}
.info i {
    color: #613c6d;
}
.txt {
    color: #838383;
}
/* header fin */
.contenedor_movil {
    display: none;
}
/* menu */
.contenido_menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    list-style: none;
}
.contenido_menu a {
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: larger;
    color: black;
    padding: 15px 30px;
}
.contenido_menu a:hover {
    color: #aeb1be;
}
/* menu fin */
.contenedor_articulo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.contenedor_img_info  figure{
    max-width: 500px;
}
.contenedor_img_info img {
    width: 100%;
    object-fit: cover;
}
.contenedor_info {
    max-width: 600px;
}
.contenedor_info h2 {
    padding: 20px 0px 20px 0px;
    font-size: xx-large;
    text-align: center;
}
.contenedor_info p {
    margin:  20px 40px 0px 40px;
    padding: 0px 10px 0px 10px;
    font-size: larger;
    color: #858585;
}
.firma {
    max-width: 150px;
    object-fit: cover;
    margin:  10px 40px 0px 50px;
    padding: 0px 10px 0px 15px;
}
.firma img {
    width: 100%;
}
.contenedor_articulos {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    background-color: #e3f5f9;
    padding: 40px 0px 40px 0px;
}
.articulo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding: 10px;
    gap: 20px;
}
.articulo i {
    padding-top: 15px;
    color: #613c6d;
    background-color: #e3f5f9;
}
.info_articulo h2 {
    color: #313131;
    font-size: x-large;
    font-weight: lighter;
    padding: 15px 0px 20px 0px;
}
.info_articulo p {
    line-height: 25px;
    max-width: 280px;
    color: #7a8183;
}
.biografia {
    background-color: #503a87;
}
.contenedor_biografia {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
}
.contenedor_biografia figure {
    max-width: 720px;
}
.contenedor_biografia img {
    width: 100%;
    object-fit: cover;
}
.biografia_info {
    max-width: 645px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 50px 50px 0px 85px;
}
.biografia_info h2 {
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    margin-bottom: 35px;
    font-family: Arial;
}
.biografia_info p{
    color: #bab2d0;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}
.biografia_info h3 {
    font-style: italic;
    font-size: xx-large;
    color: #ff7fdb;
    font-weight: lighter;
    margin-bottom: 10px;
    margin-left: 30px;
}
.biografia_info h4 {
    font-weight: lighter;
    font-size: x-large;
    font-style: italic;
    color: white;
    line-height: 35px;
    margin-bottom: 25px;
}
.titulos {
    padding: 20px 30px;
    text-align: center;
    font-size: x-large;
    font-weight: lighter;
}
.contenedor_articulos2 {
    background-color: #fdf5fc;
    padding: 10px 0px 40px 0px;
}
.contenedor_articulos_section2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.articulo2 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 380px;
}
.icono {
    padding: 20px 25px;
    border-radius: 50%;
    color: #984c8a;
    background-color: #fbe7f8;
    transition: all 0.7s;
}
.icono:hover {
    background-color: white;
}
.articulo2 h2 {
    padding: 10px 0px 10px 0px;
    font-weight: lighter;
}
.articulo2 p {
    color: #8d8a8d;
    text-align: center;
}
/* contenido_acordeon */
.acordeon {
    width: 100%;
    margin: auto;
}
.acordeon_titulo {
    padding: 5px;
    font-size: 14px;
    font-weight: lighter;
    height: 90px;
    line-height: 38px;
    margin: 0;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items:center;
}
.acordeon_contenido {
    display: none;
    margin-left: 50px;
    background: rgba(255, 255, 255, 0.5);
    padding: 1em 1em 1.5em;
}
.iconos{
    position: relative;
    padding: 0px 10px 0px 10px;
    width: 25px;
    height: 25px;
    margin-right: 20px;
}
.iconos i{
    padding: 5px;
    background:#503a87;
    color: white;
    border-radius: 5px;
}
#mas1, #mas2, #mas3, #mas4{
    position: absolute;
    z-index: 400;
    top: 0;
    right: 0;
    transition: all .3s;
}
.menos1, .menos2, .menos3, .menos4{
    position: absolute;
    z-index: 300;
    top: 0;
    right: 0;
}
.desaparecer{
    opacity: 0;
}
.articulo_acordeon {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
.contenedor_imagen figure {
    max-width: 650px;
}
.contenedor_imagen img {
    width: 100%;
}
.contenedor_acordeon {
    max-width: 500px;
}
.contenedor_acordeon h3 {
    padding-left: 4px;
    font-weight: lighter;
    font-size: xx-large;
}
/* fin del acordeon */
.consulta {
    background-color: #e3f5f9;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px 0px 30px 0px;
}
.consulta h3 {
    color: #613c6d;
    font-weight: lighter;
    font-size: x-large;
    font-family:'Times New Roman';
    padding: 30px 0px 15px 0px;
}
.consulta h2 {
    font-weight: lighter;
    font-size: xx-large;
    padding: 10px 0px 15px 0px;
}
.consulta p {
    color: #8d8a8d;
    padding: 10px 0px 15px 0px;
}
.consulta a {
    background-color: #d1bfec;
    text-decoration: none;
    padding: 15px 30px;
}
.our_blog {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
.our_blog_arti {
    max-width: 500px;
}
.our_blog_arti h3 {
    color: #613c6d;
    padding: 10px 0px 10px 0px;
    font-weight: lighter;
    font-size: x-large;
}
.our_blog_arti p {
    color: #7a8183;
    font-size: medium;
    padding: 1px 0px 5px 0px;
}
.our_blog_arti img {
    width: 100%;
}
.subtitulos {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 10px 20px 10px 0px;
    font-size: medium;
}
.btn_our_blog {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.btn_our_blog a {
    border: 1px gray solid;
    text-decoration: none;
    padding: 15px 20px;
    color: black;
    transition: all 0.5s;
    text-align: center;
    margin-bottom: 30px;
}
.btn_our_blog a:hover {
    background-color: #613c6d;
    color: white;
}
.contenedor_info_fo {
    display: flex;
    justify-content: space-around;
    padding: 40px 0px 40px 0px;
    background-color: #fbe7f8;
}
.contenedor_info_fo article {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    max-width: 300px;
    margin-left: 110px;
    padding: 40px;
}
.contenedor_info_fo article i {
    color: #503a87;
    margin: 15px 0px 15px 0px;
}
.contenedor_fin {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.contenedor_fin article {
    max-width: 300px;
}
.contenedor_fin article h2 {
    padding-bottom: 25px;
    font-weight: lighter;
}
.contenedor_fin img {
    width: 100%;
}
.fin {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
/* CONTENIDO DE LA SECCION ABOUT */
.cabecera_about {
    background-image: url(../img/About1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 380px;
    position: relative;
}
.cabecera_about p {
    color: white;
    font-size: large;
    position: absolute;
    top: 40%;
    left: 13%;
}
.contenido_cabecera {
    position: absolute;
    top: 45%;
    left: 10%;
    color: white;
}
.linea {
    position: absolute;
    border: 1px white solid;
    width: 3%;
    top: 43%;
    left: 9%;
}
.contenido_cabecera h2 {
    font-size: xx-large;
    font-weight: lighter;
    padding: 20px 0px 40px 0px;
}
.contenedor_niveles {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.contenedor_niveles article {
    max-width: 400px;
}
.contenedor_niveles figure {
    position: relative;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}
.contenido_message {
    background-color: white;
    color: #613c6d;
    padding: 10px 12px;
    border-radius: 50%;
    position: absolute;
    top: 80%;
    left: 73%;
    transition: all 0.5s;
}
.contenido_message:hover {
    background-color: #613c6d;
    color: white;
}
.contenedor_niveles img {
    width: 100%;
    width: 380px;
}
.niveles_texto {
    width: 380px;
    padding: 10px;
}
.niveles_texto p {
    color: #838383;
    padding-top: 20px;
}
.titulo_principal {
    padding: 10px 0px 10px 0px;
}
.titulo_principal h2 {
    font-weight: lighter;
    font-size: xx-large;
    padding-bottom: 15px;
}
.titulo_principal h4 {
    font-weight: lighter;
    color: #5b5b5b;
}
.niveles_rango {
    width: 380px;
}
.rango_especial {
    margin-top: 35px;
    padding: 10px;
}
.rango_especial h3 {
    font-weight: lighter;
    padding-bottom: 10px;
    font-size: small;
}
.estatus1 {
    width: 85%;
    border: 2px #613c6d solid;
}
.estatus2 {
    width: 65%;
    border: 2px #613c6d solid;
}
.estatus3 {
    width: 100%;
    border: 2px #613c6d solid;
}
.titulo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.iconos_about {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-end;
    align-content: flex-end;
    max-width: 180px;
    margin-left: 179px;
    padding: 15px;
    transition: all 0.5s;
}
.iconos_about i:hover {
    padding: 5px 8px;
    background-color: #984c8a;
    color: white;
    border-radius: 50%;
}
.contenedor_contenido_about {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
.contenido_info_about {
    max-width: 500px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.contenido_info_about h3 {
    font-size: xx-large;
    font-weight: lighter;
    max-width: 300px;
    line-height: 40px;
}
.contenido_info_about p {
    font-style: italic;
    color: #646464;
    font-size: larger;
    padding: 15px 0px 20px 0px;
    max-width: 300px;
}
.contenido_info_about span {
    color: #646464;
    max-width: 400px;
    font-weight: lighter;
    font-size: medium;
    padding-bottom: 30px;
}
.contenido_info_about a {
    padding: 10px 20px;
    text-decoration: none;
    color: #41333f;
    background-color: #d1bfec;
    transition: all 0.5s;
}
.contenido_info_about a:hover {
    background-color: #503a87;
    color: white;
}
.contenedor_contenido_about figure {
    max-width: 390px;
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}
.contenedor_contenido_about img {
    width: 100%;
}
/* INICIO DEL PARALLAX */
.parallax {
    background-image: url(../img/parallax.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    background-position: -50px 20px;
    background-attachment: fixed;
    object-fit: cover;
    position: relative;
}
.contenedor_consultame {
    position: absolute;
    top: 15%;
    left: 15%;
    padding: 10px 10px 20px 10px;
    box-shadow: 0 0 10px #0006;
    background-color: #503a87;
    border-radius: 8px;
    max-width: 250px;
    color: white;
}
.contenedor_consultame h2 {
    padding: 20px 0px 20px 0px;
    font-weight: lighter;
    font-size: xx-large;
    line-height: 40px;
}
.contenedor_consultame span {
    color: red;
}
.contenedor_consultame a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #d1bfec;
    color: black;
    border-radius: 10px;
} 

/* FIN DEL PARALLAX */

/* CONTENDIO SERVICIOS */
.articulo_services {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.contenedor_info_services {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 500px;
}
.contenedor_info_services h2 {
    font-size: xx-large;
    font-weight: lighter;
    padding: 5px 0px 15px 0px;
}
.contenedor_info_services h3 {
    color: #313131;
    max-width: 400px;
    padding: 2px 0px 15px 0px;
    font-size: medium;
    font-weight: lighter;
}
.contenedor_info_services p {
    color: #656565;
    padding: 5px 0px 20px 0px;
    font-size: small;
    font-weight: lighter;
    max-width: 350px;
}
.contenedor_info_services a {
    padding: 15px 30px;
    background-color: #d1bfec;
    text-decoration: none;
    color: #41333f;
    transition: all 0.5s;
}
.contenedor_info_services a:hover {
    background-color: #613c6d;
    color: white;
}
.articulo_services figure {
    max-width: 500px;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
.articulo_services img {
    width: 100%;
}
.consulta_service {
    background-color: #613c6d;
    padding: 50px 0px 50px 0px;
}

.contenido_consulta_service {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    color: white;
    max-width: 1000px;
}
.contenido_consulta_service h1 {
    font-weight: lighter;
    font-size: xx-large;
}
.contenido_consulta_service h2 {
    font-size: xx-large;
}
.contenido_consulta_service a {
    text-decoration: none;
    padding: 15px 25px;
    background-color: #d1bfec;
    color: #41333f;
    transition: all 0.5s;
}
.contenido_consulta_service a:hover {
    background-color: white;
    color: black;
}
.planes_vip {
    background-color: #f5f6fa;
}
.contenedor_precios {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
}
.planes {
    border: 1px #aeb1be solid;
    max-width: 350px;
    padding: 20px;
}
.planes h2 {
    font-size: large;
    font-weight: lighter;
    padding-bottom: 15px;
}
.planes h3 {
    font-size: xx-large;
    font-weight: bolder;
    padding-bottom: 25px;
}
.planes hr {
    width: 100%;
    text-align: center;
    border: 1px #aeb1be solid;
}
.planes p {
    padding: 20px 0px 30px 0px;
    color: #818183;
    font-size: small;
}
.planes a {
    padding: 10px 20px;
    text-decoration: none;
    background-color: #d1bfec;
    color: #4e4050;
    font-size: small;
    transition: all 0.5s;
}
.planes a:hover {
    background-color: #613c6d;
    color: white;
}
/* Tiny Carousel */
.carrusel {
    background-color: #f5f6fa;
}
#slider1 {
    height: 330px;
    margin: 30px 0 0;
    overflow: hidden;
    position: relative;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
}
#slider1 .viewport {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
.prev {
    background: #503a87;
    border-radius: 35px;
    display: block;
    width: 35px;
    height: 35px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    font-size: 22px;
}
.next {
    background: #503a87;
    border-radius: 35px;
    display: block;
    width: 35px;
    height: 35px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    font-size: 22px;
}
.flechas {
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 85%;
    left: 40%;
}
#slider1 .buttons:hover {
    color: #503a87;
    background: #bab2d0;
}

#slider1 .disable {
    visibility: hidden;
}

#slider1 .overview {
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 240px;
    left: 0;
    top: 0;
}
.overview img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}
#slider1 .overview li {
    float: left;
    margin: 0 20px 0 0;
    padding: 10px;
    height: 260px;
    background-color: #f5f6fa;
    width: 568px;
}
/* CONTENIDO CONTACT */
.contenido_contact {
    background-color: #fdf5fc;
}
.contenedor_contacto {
    display: grid;
    grid-template-columns: 2fr 2fr;
}
.contact_form {
    padding: 10px;
}
.contact_form h2{
    padding: 10px;
    font-weight: lighter;
    font-size: xx-large;
}
.formulario p {
    margin: 0;
    padding: 1em;
    max-width: 450px;
    box-sizing: border-box;
}
.formulario {
    /*CSS GRID*/
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.formulario .bloque {
    /*deja en un bloque la clase bloque */
    grid-column: 1 / 3;
}
.formulario button,
.formulario input {
    width: 100%;
    padding: .5em;
    border: none;
    background: none;
    border-bottom: 1px #7a8183 solid;
    outline: none; /*le quita el fondo blanco al form*/
}
.formulario textarea {
    width: 100%;
    max-width: 500px;
    min-height: 50px;
    max-height: 100px;
    padding: .5em;
    border: none;
    background: none;
    border-bottom: 1px #7a8183 solid;
    outline: none; /*le quita el fondo blanco al form*/
}

.formulario button {
    background-color: #bab2d0;
    color: white;
    border: 0;
    text-transform: uppercase;
    padding: 15px 20px;
    transition: all 0.5s;
    cursor: pointer;
}
.formulario button:hover {
    background-color: #503a87;
    color: white;
}

#map {
    max-width: 600px;
	height: 500px;
	width: 100%;
    border-radius: 5px;
}
/* INICIO DEL LIGHBOX o fancybox*/
#galeria {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#galeria a{
    margin: 15px;
    filter: brightness(60%);
}
#galeria a:hover {
    filter: brightness(100%);
    transition: all 0.5s;
}
#galeria img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}
/* FIN DEL LIGHTBOX */

/* contenido_modal */
.estilo_btnmodal {
    text-decoration: none;
    padding: 15px 30px;
    background-color: #333;
    color: white;
}
.foto {
    margin: auto;
    max-width: 280px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 20px;
}
.foto img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.fondomodal {
    display: none;
    padding: 100px 10px;
    position: fixed;
    z-index: 100;
    left: 30%;
    top: 10%;
    width: 40%;
    height: 100%;
    transition: all 0.5s;
}
.contenidomodal {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    position: relative;
}
.contenidomodal p {
    text-align: center;
    font-family: sans-serif;
    color: #313131;
}
.contenidomodal span {
    color: red;
    font-size: x-large;
}
.contenidomodal a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #613c6d;
    color: white;
    position: absolute;
    top: 100%;
    left: 35%;
    transition: all 0.5s;
}
.contenidomodal a:hover {
    background-color: red;
    color: white;
}
.estructuramodal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.estructuramodal h3 {
    font-weight: bolder;
    font-size: xx-large;
}
.cerrarmodal {
    cursor: pointer;
    color: red;
    transition: all 0.5s;
}

.cerrarmodal:hover {
    color: black;
}

.contenidomodal {
    width: 95%;
    padding: 10px;
}

.contenidomodal img {
    height: 100%;
}

.cerrarmodal {
    right: 20px;
    margin-right: 10px;
}
/* fin del modal */